/* ====== Estilo global F1 ====== */
:root {
  --color-bg: #0a0a0a;
  --color-card: #141414;
  --color-red: #d80000;
  --color-gray: #cccccc;
  --color-white: #fff;
  --font-main: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-main);
  color: var(--color-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease;
}

a {
  color: var(--color-red);
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}
